<h1 id='title'>Check Ins</h1>
<p>When an event is active, you will see a special option to "Check In" instead of the normal RSVP button. This is a way to let other JamPad users see how active an event is.</p>
<p>To check in, you must be within a reasonable distance from the event. If you are too far away to check in, you will get a notice telling you this.</p>
<p>Whenever you check into a verified event you will earn 30 FrogCoin!</p>
<app-change-page [prev]="'RSVPs'" [next]="'Frogs'"></app-change-page>