<h1 id='title'>Venue Accounts</h1>
<p>Venue accounts are marked with a green seal. A venue account signifies that this user manages the venue listed. Venue accounts display their venue's name and/or address (if public) on their profile. Click this to open it in Apple Maps.</p>
<div class="centered">
    <img src="venue/profile.png" />
    <img src="venue/profile2.png" />
</div>
<p>Any events a venue is confirmed to be hosting will show up in a <b>Hosting</b> tab on their profile! This will show both past and upcoming events.</p>
<br>

<h2>Getting Verified</h2>
<p>If you want an venue account, you can go to the <b>Settings</b> page on your profile to get verified. Here you will see a <b>Request Verification</b> button- click this and fill out the form that you are presented with. If you have a pending verification, you will see that here instead.</p>
<div class="centered">
    <img src="artist/verify.png" />
    <img src="venue/form.png" />
    <img src="artist/pending.png" />
</div>
<br>

<h2>Venue Account Features</h2>
<p>As a verified venue, you have a few special features you have access to. First, any event you post that takes place at your venue will be automatically verified.</p>
<p>You will only be automatically added to verified events created by admins. If a normal JamPad user wants to link your account to an event, they have to send you an event request. You can view these in the <b>Notifications</b> screen on your profile under <b>Event Requests</b>.</p>
<div class="centered">
    <img src="artist/requests.png" />
</div>
<p>You can change the name of your venue by clicking the <b>Edit</b> (pencil) button on your profile. You can change whether your venue's location is private or public in the <b>Settings</b> page, where you will see a toggle for this option.</p>
<div class="centered">
    <img src="venue/edit.png" />
    <img src="venue/privacy.png" />
</div>
<p>On your profile you will also see a <b>Guest List</b> button. Click this to view and manage your current guest list. Adding someone to your guest list means they will be allowed to RSVP to any events at your venue without sending a request. You can add/remove someone from your guest list by going to their profile or while you're looking through event RSVP requests.</p>
<div class="centered">
    <img src="venue/guest_list.png" />
    <img src="venue/other_profile.png" />
    <img src="venue/request_guest.png" />
</div>

<h2>Venue Collabs</h2>
<p>If you are a venue and you want to collaborate with us, please reach out! This could mean adding merch into the app as frog clothing, setting up a custom reward code, or more!</p>

<app-change-page [prev]="'Artist Accounts'" [next]="'Admin Accounts'"></app-change-page>