<h1>Welcome to JamPad!</h1>
<h3 class="subtitle">JamPad is an iOS app centered around discovering and sharing local events</h3>
<p>This is a project started and fully managed by <a target="_blank" href="https://linktr.ee/thebobcatpress">The Bobcat Press</a>, an independent journalism organization highlighting local artists primarily in Columbus, Ohio and St. Louis, Missouri. Our goal is to give local creators like these a more streamlined way to promote events, and to give those interested a way to easily discover them.</p>
<p>We want users to be able to quickly and efficiently find what they're looking for, and to feel empowered to engage with their local community. This project is ran by a team of people who are all incredibly passionate about supporting local artists.</p>
<p>We don't want to trap you in an endless algorithm of scrolling and swiping. We want you to use our app to escape the chasm of online activity and find new, awesome experiences!</p>
<div class="logo">
    <img src="jampad.png"/>
    <img src="bobcat-transparent.png"/>
</div>
<p>Thank you for joining JamPad :)</p>

<app-change-page [next]="'Event Feed'"></app-change-page>