<h1 id='title'>Frogs</h1>
<h3 class="subtitle">Express yourself to the JamPad community!</h3>
<p>On each JamPad profile is a dropdown labeled with a frog face. Click this to see that user's frog! This will also display the frog's name, birthday, and current FrogCoin balance.</p>
<div class="centered">
    <img src="frog/profile1.png" />
    <img src="frog/profile2.png" />
</div>
<p>On your own profile you will see additional ways you can interact with your frog. Rename it by clicking the pencil icon next to the frog's current name. Click on your current FrogCoin balance to see your full transaction history.</p>
<div class="centered">
    <img src="frog/own_history.png" />
    <img src="frog/history.png" />
</div>
<br>
<h2>Frog Cosmetics</h2>
<p>On your own frog dropdown you will have access to the frog shop. Here you will see 9 featured cosmetics- click on any of these to preview or purchase them! The item shop refreshes every day at 8PM ET.</p>
<p>There are four types of frog cosmetics: hats, shirts, items, and backgrounds. Cosmetics have five different rarities: common, uncommon, rare, epic, and legendary. This represents the likelihood this item will appear in the daily shop and the item's price.</p>
<div class="centered">
    <img src="frog/own.png" />
    <img src="frog/shop.png" />
</div>
<p>Here you also have access to the frog locker, allowing you to edit your frog's appearance! Change your frog's color to any of the ones freely available. Any purchased items will also show up here! Click "Save" to publish the changes you've made to your profile.</p>
<div class="centered">
    <img src="frog/locker.png" />
</div>
<br>
<h2>FrogCoin</h2>
<p>FrogCoin is the official JamPad currency! Earn FrogCoin to rise up the frog leaderboards and buy new cosmetics for your frog. Currently FrogCoin is awarded for the following actions:</p>
<ul>
    <li>Daily Login: 10 coin</li>
    <li>7 Day Login Streak: 50 coin</li>
    <li>Post an event that gets verified: 30 coin</li>
    <li>Check into a verified event: 20 coin</li>
</ul>
<app-change-page [prev]="'Check Ins'" [next]="'Leaderboards'"></app-change-page>