<h1 id='title'>Leaderboards</h1>
<h3 class="subtitle">Become the top frog.</h3>
<p>In the top left of the event feed page is a menu labeled "More". Click this to open a page featuring several global leaderboards.</p>
<div class="centered">
    <img src="leaderboard/open.png" />
    <img src="leaderboard/main.png" />
</div>
<br>
<h2>Top Frogs</h2>
<p>The "Top Frog" leaderboard ranks JamPad users based on how much FrogCoin they have accumulated in the current week/month/year. The weekly leaderboard resets every Monday morning and the monthly leaderboard resets on the first day of each month.</p>
<div class="centered">
    <img src="leaderboard/frog.png" />
    <img src="leaderboard/frog_month.png" />
</div>
<br>
<h2>Event Leaderboards</h2>
<p>The top events are also ranked both by average rating and attendance. These can be sorted by the past month, the past 3 months, or the past year.</p>
<div class="centered">
    <img src="leaderboard/event_rating.png" />
    <img src="leaderboard/event_attend.png" />
</div>
<br>
<h2>Top Creators</h2>
<p>The JamPad community gets kept alive by users who share cool events in their area! The users who posted the most events will also find themselves on a JamPad leaderboard!</p>
<p><i>Note: This leaderboard considers only posted events that were <b>verified</b>.</i></p>
<div class="centered">
    <img src="leaderboard/creators.png" />
</div>
<app-change-page [prev]="'Frogs'" [next]="'Artist Accounts'"></app-change-page>