<h1 id="title">Event Feed</h1>
<h3 class="subtitle">See the top upcoming events!</h3>
<p>The event feed is a more algorithmic approach to event discovery. Here you can see the top upcoming events, sorted by a combination of factors including distance, date, and user interaction (likes and RSVPs).</p>
<div class="centered">
    <img src="feed/main.png" />
</div>
<p>At the top of the page is a toggle between "All" and "Following". The "All" tab will show you all public events, the "Following" tab will show you all events posted by or featuring accounts that you follow.</p>
<p>To the left of this toggle is a "Menu" tab, which opens a page listing a couple of different views (see the <a routerLink="/leaderboards">"Leaderboards" section</a> for more about these). </p>
<p>To the right is a view toggler which allows you to switch between a one or two column view of the event feed. These views are the same except that the single column view shows you the start/end time of an event as well as the date.</p>
<div class="centered">
    <img src="feed/single_col.png" />
</div>
<p>Below this top tab are a series of time filters. Selecting these will show you only events in that time range (today, tomorrow, this week, etc).</p>

<app-change-page [prev]="'Welcome'" [next]="'Search'"></app-change-page>