<div>
    <h1>Frog Cosmetic Creation</h1>
    <p>If you're an artist, we'd love to feature a design by you in our app!</p>
    <p>You can download the frog template and import it into your own drawing app. After you create your design, export it (just the actual cosmetic, without the frog) as a transparent PNG with a square aspect ratio and upload it using the buttons below.</p>
    <p>You will be shown a preview of your design before you end up submitting it. We will contact you before accepting your design to make sure we credit you appropriately. Any artists who submit designs that are accepted will be credited and rewarded in the app!</p>
    <div class="download-buttons">
        <a onclick="return confirm('Download white frog template?');"
          download="white_frog" target="_blank" href="white_frog_template.png">
          <mat-icon>download</mat-icon>
            Download White Frog
         </a>
         <a onclick="return confirm('Download green frog template?');"
           download="green_frog" target="_blank" href="frog_template.png">
           <mat-icon>download</mat-icon>
            Download Green Frog
        </a>
    </div>

    <div class="upload">
        <label for="file" class="btn">
            <mat-icon>attach_file</mat-icon>
            Upload Drawing
        </label>
        <input type="file" style="display:none;" id="file" (change)="handleFileInput($event)">
        <label>
           <i>{{ file?.name }}</i>
        </label>
    </div>
    <div class="preview" [style.display]="url == '' ? 'none' : 'block'">
        <img [style.display]="(url == '' || cosmeticType == 'background') ? 'none' : 'block'"
            id="under-frog" src="frog_template.png" />
        <img id="preview-image" [src]="url">
        <img [style.display]="(url == '' || cosmeticType != 'background') ? 'none' : 'block'" 
            id="overlay-frog" src="frog_template.png" />
    </div>

    <div class="submit-form">
        <label for="type">Cosmetic Type:</label>
        <select [(ngModel)]="cosmeticType">
            <option value="hat">Hat</option>
            <option value="shirt">Shirt</option>
            <option value="item">Item</option>
            <option value="background">Background</option>
          </select>

        <label for="name">Cosmetic Name:</label>
        <input id="name" type="text" placeholder="The item name that will appear in-app"
            [(ngModel)]="cosmeticName" required />
        
        <label for="artist">Artist Contact:</label>
        <input id="name" type="text" placeholder="How can we contact you?"
             [(ngModel)]="artistContact" required />
    </div>
    <div class="alert" ngIf='alertTxt != ""'><i>{{ alertTxt }}</i></div>
    <button id="submit" (click)="submitCosmetic()">Submit</button>
</div>