<h1 id='title'>Profiles</h1>
<p>Every JamPad account has a profile, which is uniquely identifiable by their username. Follow a user to see their public activity in app and any events they post.</p>
<p>On each basic profile is a list of the user's RSVPed events, separated into upcoming and past. Upcoming events are ordered with the soonest first, descending further into the future.</p>
<div class="centered">
    <img src="profile/main.png" />
    <img src="profile/events.png" />
</div>
<br>
<h2>Past Events</h2>
<p>Past events will display a rating instead of the normal event preview. If the profile you're currently looking at has posted a rating for that event, that will show up here (including your own ratings). Otherwise the average event rating will appear here.</p>
<div class="centered">
    <img src="profile/ratings.png" />
</div>
<br>
<h2>Notifications</h2>
<p>Click the bell icon in the top right corner of your own profile to see all your past account notifications. The second tab shows any pending RSVPs for events you are currently managing (as an event creator, artist, or venue). </p>
<div class="centered">
    <img src="profile/notis.png" />
</div>
<br>
<h2>Privacy</h2>
<p>If you don't want other users to be able to see your past and/or upcoming RSVPed events, you can go to the settings page of your profile and change the privacy of these listings. Your saved events are <b>never</b> visible to other JamPad users.</p>
<div class="centered">
    <img src="profile/settings.png" />
</div>
<app-change-page [prev]="'Event Creator'" [next]="'Events'"></app-change-page>