<h1 id='title'>RSVPs</h1>
<h3 class="subtitle"></h3>
<p>RSVP for any public event by simply clicking the RSVP button. If an event is private or the event venue has a private address, clicking this button will instead send an RSVP request to the event managers. If the venue is private but you are on their guest list, your RSVP request will be automatically accepted.</p>
<p>You can only RSVP for upcoming events, but you can always un-RSVP from an event. You can only submit event ratings for events you have RSVPed and have passed.</p>
<app-change-page [prev]="'Events'" [next]="'Check Ins'"></app-change-page>