<h1 id='title'>Search View</h1>
<h3 class="subtitle">Find specific accounts or events</h3>
<p>The search view allows you to search for accounts or events on JamPad. Putting text into the search bar will match profiles with the same names and any events with featured creators with those names. Events in this view are in reverse chronological order, with events that are the furthest away at the top.</p>
<div class="centered">
    <img height="450px" src="search/main.png" />
</div>
<p>You can also search for events happening at a certain location. This could be a state, city, or your favorite venue! You can also search for events at a certain date, month, or year. Both past and upcoming events can be found using the search feature.</p>
<div class="centered">
    <img height="450px" src="search/place.png" />
    <img height="450px" src="search/venue.png" />
    <img height="450px" src="search/date.png" />
</div>
<p>Underneath the search bar is a scrollable list of every tag recognized by the app. Click on one or several of these to show events tagged one or more of your selected tags. This search is possible even without text input and events will be ordered by the number of tags they match, then by date.</p>
<div class="centered">
    <img height="450px" src="search/genre.png" />
</div>

<app-change-page [prev]="'Event Feed'" [next]="'Map'"></app-change-page>