<h1 id='title'>Admin Accounts</h1>
<h3 class="subtitle">Under Construction...</h3>
<!-- <p>In the top left of the event feed page is a menu labeled "More". Click this to open a page featuring several global leaderboards.</p>
<div class="centered">
    <img src="leaderboard/open.png" />
    <img src="leaderboard/main.png" />
</div>
<br>
<h2>Top Frogs</h2>
<p>The "Top Frog" leaderboard ranks JamPad users based on how much FrogCoin they have accumulated in the current week/month/year. The weekly leaderboard resets every Monday morning and the monthly leaderboard resets on the first day of each month.</p>
<div class="centered">
    <img src="leaderboard/frog.png" />
    <img src="leaderboard/frog_month.png" />
</div> -->

<app-change-page [prev]="'Venue Accounts'" [next]="'Changelog'"></app-change-page>