<div class="reset-container">
    <h2>Reset Your Password</h2>

    <div *ngIf="error" class="error message">{{ error }}</div>
    <div *ngIf="success" class="success message">Password updated! You can now leave this page.</div>

    <form (submit)="resetPassword(); $event.preventDefault()" *ngIf="!success">
        <input type="password" [(ngModel)]="password" placeholder="New password" name="password" required />
        <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password" name="confirmPassword" required />
        <button type="submit">Reset Password</button>
    </form>
</div>
  